# Pandas Tutorial
# https://towardsdatascience.com/my-python-pandas-cheat-sheet-746b11e44368

In [2]:
import pandas as pd
import numpy as np

## Importing

In [5]:
# Build data frame from inputted data
df = pd.DataFrame([[1,'Bob', 'Builder'],
                  [2,'Sally', 'Baker'],
                  [3,'Scott', 'Candle Stick Maker']], 
                  columns=['id','name', 'occupation'])

In [7]:
df

   id   name          occupation
0   1    Bob             Builder
1   2  Sally               Baker
2   3  Scott  Candle Stick Maker

In [ ]:
# Copy a data frame
df.copy(deep=True)

In [28]:
# Convert CSV into a data frame
anime = pd.read_csv('anime-recommendations-database/anime.csv')
rating = pd.read_csv('anime-recommendations-database/rating.csv')

## Exporting

In [10]:
# Save to CSV
# index -- Write row names (index)
df.to_csv('tmp.csv', index=False)

## Viewing and Inspecting

In [12]:
# Get top n records
anime.head(2)

,anime_id,name,genre,type,episodes,rating,members
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [5]:
# Get bottom n records
anime.tail(2)

,anime_id,name,genre,type,episodes,rating,members
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [16]:
# Count rows
print('Total Rows: ', len(anime))
print('Unique Rows (Type Col): ', len(anime['type'].unique()))

Total Rows:  12294
Unique Rows (Type Col):  7

In [17]:
# Get data frame info
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
anime_id    12294 non-null int64
name        12294 non-null object
genre       12232 non-null object
type        12269 non-null object
episodes    12294 non-null object
rating      12064 non-null float64
members     12294 non-null int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.4+ KB

In [18]:
# Get statistics
anime.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [22]:
# Get counts of values for a particular column
anime.type.value_counts()

TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

## Selecting

In [ ]:
# Get a list or series of values for a column
anime.type.tolist()

In [29]:
# Get a list of column values
anime.columns.tolist()

['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members']

## Adding / Dropping

In [21]:
# Append new row (list)
anime.loc[len(anime)] = [0, 'Test', 'Test', 'Test', 0, 0, 0]
anime.tail(1)

       anime_id  name genre  type episodes  rating  members
12296         0  Test  Test  Test        0     0.0        0

In [22]:
# Append new row (dict)
anime.append({'anime_id': 10}, ignore_index=True).tail(1)

       anime_id name genre type episodes  rating  members
12297      10.0  NaN   NaN  NaN      NaN     NaN      NaN

In [19]:
# Append new row with statistics
anime.append(anime.mean(axis=0), ignore_index=True).tail(1)

          anime_id name genre type episodes    rating      members
12296  14055.93502  NaN   NaN  NaN      NaN  6.472829  18068.39948

In [32]:
# Append new column with a set value
anime['train set'] = False

In [ ]:
# Create new data frame from a subset of columns
anime[['name','rating']]

In [17]:
# Drop specified columns
anime.drop(columns=['anime_id', 'genre', 'members']).head(2)

                               name   type episodes  rating
0                    Kimi no Na wa.  Movie        1    9.37
1  Fullmetal Alchemist: Brotherhood     TV       64    9.26

## Combining

In [27]:
# Concatenate 2 dataframes
df1, df2 = anime[0:2], anime[102:104]
pd.concat([df1, df2], ignore_index=True)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,11981,Mahou Shoujo Madoka★Magica Movie 3: Hangyaku n...,"Drama, Magic, Psychological, Thriller",Movie,1,8.50,135735
3,11917,Major: World Series,"Comedy, Drama, Sports",OVA,2,8.50,13405

In [29]:
# Merge dataframes (like SQL left join)
rating.merge(anime, left_on='anime_id', right_on='anime_id', suffixes=('_left', '_right')).tail(2)

,user_id,anime_id,rating_left,name,genre,type,episodes,rating_right,members
7813725,72404,34412,-1,Hashiri Hajimeta bakari no Kimi ni,Music,Music,1,6.76,239
7813726,72800,30738,4,Gamba: Gamba to Nakama-tachi,"Adventure, Kids",Movie,1,5.55,185

## Filtering

In [36]:
# Retrieve rows with matching index values
anime_modified = anime.set_index('name')
anime_modified.loc[['Haikyuu!! Second Season', 'Gintama']]

,anime_id,genre,type,episodes,rating,members
name,,,,,,
Haikyuu!! Second Season,28891,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
Gintama,918,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376

In [40]:
# Retrieve rows by numbered index values
anime.iloc[0:3]

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262

In [43]:
# Get rows given column value condition
anime[anime.type.isin(['TV', 'Movie'])].tail(3)

,anime_id,name,genre,type,episodes,rating,members
12244,11141,Blue Seagull,"Action, Hentai",Movie,1,4.60,337
12258,20007,Hi Gekiga Ukiyoe Senya Ichiya,"Action, Hentai",Movie,1,1.92,129
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [44]:
# Slice a dataframe
anime[:3]

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262

In [48]:
# Filter by value
anime[anime['rating'] > 8].tail(3)

,anime_id,name,genre,type,episodes,rating,members
10793,28557,Yamete! Writer Asobi: Doubutsu Mura no Shoubou...,"Drama, Kids",OVA,1,8.67,40
10847,26097,Yume no Tsuzuki,"Drama, Kids",OVA,1,8.67,53
12251,33960,Chou Do M na Hentai Mesu-tachi Otokoton Chouky...,Hentai,OVA,Unknown,8.38,161

## Sorting

In [49]:
# Sort data frame by values
anime.sort_values('rating', ascending=False).head(3)

,anime_id,name,genre,type,episodes,rating,members
10464,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.0,13
10400,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,Unknown,9.6,47
9595,23005,Mogura no Motoro,Slice of Life,Movie,1,9.5,62

## Aggregating

In [57]:
# Groupby and count
anime.groupby('type').count()

         anime_id  name  genre  episodes  rating  members
type
Movie        2348  2348   2306      2348    2297     2348
Music         488   488    488       488     488      488
ONA           659   659    655       659     652      659
OVA          3311  3311   3310      3311    3285     3311
Special      1676  1676   1674      1676    1671     1676
TV           3787  3787   3777      3787    3671     3787

In [63]:
# Groupby and aggregate columns in different ways
anime.groupby('type').agg({'rating': 'mean',
                           'episodes': 'count',
                           'name': 'last'}).reset_index()

,type,episodes,name,rating
0,Movie,2348,Yasuji no Pornorama: Yacchimae!!,6.318058
1,Music,488,Yuu no Mahou,5.588996
2,ONA,659,Docchi mo Maid,5.643298
3,OVA,3311,Violence Gekiga Shin David no Hoshi: Inma Dens...,6.375221
4,Special,1676,Junjou Shoujo Et Cetera Specials,6.523501
5,TV,3787,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,6.902299

In [64]:
# Create a pivot table
tmp_df = rating.copy()
tmp_df.sort_values('user_id', ascending=True, inplace=True)
tmp_df = tmp_df[tmp_df.user_id < 10] 
tmp_df = tmp_df[tmp_df.anime_id < 30]
tmp_df = tmp_df[tmp_df.rating != -1]
pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'], aggfunc=np.sum, fill_value=0)

anime_id  6   15  17  18  20  22  24
user_id
3          0   0   0   0   8   0   0
5          8   6   6   6   6   5   1
7          0   0   0   0   0   7   0