# Pandas Tutorial
## https://towardsdatascience.com/my-python-pandas-cheat-sheet-746b11e44368
## https://towardsdatascience.com/pandas-cheat-sheet-4c4eb6802a4b

## Terminology

### Series 
- Contain a single list with index

### Dataframe 
- Collection of series

## Module Import

In [1]:
import pandas as pd

## Create DataFrame

In [30]:
# Build empty data frame
pd.DataFrame(columns=['C1','C2'])

Empty DataFrame
Columns: [C1, C2]
Index: []

In [31]:
# Build data frame from inputted data
df = pd.DataFrame([[1,'Bob', 'Builder'],
                  [2,'Sally', 'Baker']], 
                  columns=['id','name', 'occupation'])
df

   id   name occupation
0   1    Bob    Builder
1   2  Sally      Baker

In [ ]:
# Copy a data frame
df.copy(deep=True)

In [33]:
# Sample a data frame
df.sample(frac=0.5)

   id   name occupation
1   2  Sally      Baker

## FileIO

In [2]:
# Read CSV
# header : None if no column name in first row
anime = pd.read_csv('anime-recommendations-database/anime.csv')
rating = pd.read_csv('anime-recommendations-database/rating.csv')

In [10]:
# Write CSV
# index -- Write row names (index)
df.to_csv('tmp.csv', index=False)

## Indexing (Arbitrary)

In [15]:
# Index Subsetting -- iloc
anime.iloc[0:2, :3]

,anime_id,name,genre
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili..."

In [17]:
# Location Subsetting -- loc
anime.loc[2:3, ['anime_id', 'name']]

   anime_id         name
2     28977     Gintama°
3      9253  Steins;Gate

## Indexing (Row-wise)

In [7]:
# Slice a dataframe
anime[:2]

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665

In [8]:
# Get row data by numbered index values
anime.iloc[:2]

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665

In [10]:
# Get row data by index values
anime_modified = anime.set_index('name')
anime_modified.loc[['Haikyuu!! Second Season', 'Gintama']]

,anime_id,genre,type,episodes,rating,members
name,,,,,,
Haikyuu!! Second Season,28891,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
Gintama,918,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376

## Indexing (Column-wise)

In [19]:
# Get column data by name (Series)
anime['type'].tail(2)

12292      OVA
12293    Movie
Name: type, dtype: object

In [4]:
# Get multi-column data by list of name (Dataframe)
anime[['type', 'episodes']].tail(2)

        type episodes
12292    OVA        1
12293  Movie        1

## Viewing

In [11]:
# Get column data by dot
anime.type.tolist()[:2]

['Movie', 'TV']

In [12]:
# Get top n records
anime.head(2)

,anime_id,name,genre,type,episodes,rating,members
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [5]:
# Get bottom n records
anime.tail(2)

,anime_id,name,genre,type,episodes,rating,members
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [12]:
# Iterate over row indices
for idx, row in rating[:2].iterrows():
    print('-----', idx, '-----')
    print(row)

----- 0 -----
user_id      1
anime_id    20
rating      -1
Name: 0, dtype: int64
----- 1 -----
user_id      1
anime_id    24
rating      -1
Name: 1, dtype: int64

## Inspecting DataFrame Info

In [3]:
# Shape
anime.shape

(12294, 7)

In [4]:
# Get data frame info
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
anime_id    12294 non-null int64
name        12294 non-null object
genre       12232 non-null object
type        12269 non-null object
episodes    12294 non-null object
rating      12064 non-null float64
members     12294 non-null int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.4+ KB

In [16]:
# Count rows
print('Total Rows: ', len(anime))
print('Unique Rows (Type Col): ', len(anime['type'].unique()))

Total Rows:  12294
Unique Rows (Type Col):  7

In [39]:
# Get column names
anime.columns.tolist()

['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members']

In [5]:
# Get statistics (With rounding)
anime.describe().round(2)

       anime_id    rating     members
count  12294.00  12064.00    12294.00
mean   14058.22      6.47    18071.34
std    11455.29      1.03    54820.68
min        1.00      1.67        5.00
25%     3484.25      5.88      225.00
50%    10260.50      6.57     1550.00
75%    24794.50      7.18     9437.00
max    34527.00     10.00  1013917.00

In [6]:
# Get quantile (e.g. 10%, 20%)
anime.quantile([0.1, 0.2])

     anime_id  rating  members
0.1    1360.3    5.12     81.0
0.2    2672.6    5.67    152.0

In [8]:
# Get statistics (min / max / median / mean / std / var)
anime.mean()

anime_id    14058.221653
rating          6.473902
members     18071.338864
dtype: float64

In [22]:
# Get counts of values for a particular column
anime.type.value_counts()

TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

## Modify / Update

In [10]:
# Rename column
# inplace : Update dataframe directly
anime.rename(columns={'anime_id': 'ID'}, inplace=False).tail(1)

,ID,name,genre,type,episodes,rating,members
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

## Adding

In [21]:
# Append new row (list)
anime.loc[len(anime)] = [0, 'Test', 'Test', 'Test', 0, 0, 0]
anime.tail(1)

       anime_id  name genre  type episodes  rating  members
12296         0  Test  Test  Test        0     0.0        0

In [22]:
# Append new row (dict)
anime.append({'anime_id': 10}, ignore_index=True).tail(1)

       anime_id name genre type episodes  rating  members
12297      10.0  NaN   NaN  NaN      NaN     NaN      NaN

In [19]:
# Append new row with statistics
anime.append(anime.mean(axis=0), ignore_index=True).tail(1)

          anime_id name genre type episodes    rating      members
12296  14055.93502  NaN   NaN  NaN      NaN  6.472829  18068.39948

In [16]:
# Append new column with a set value
anime['train set'] = False
anime.tail(1)

,anime_id,name,genre,type,episodes,rating,members,train set
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,False

## Dropping

In [17]:
# Drop specified columns
anime.drop(columns=['anime_id', 'genre', 'members']).head(1)

             name   type episodes  rating  train set
0  Kimi no Na wa.  Movie        1    9.37      False

## Combining

In [18]:
# Concatenate 2 dataframes
pd.concat([anime[0:2], anime[102:104]], ignore_index=True)

,anime_id,name,genre,type,episodes,rating,members,train set
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,False
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,False
2,11981,Mahou Shoujo Madoka★Magica Movie 3: Hangyaku n...,"Drama, Magic, Psychological, Thriller",Movie,1,8.50,135735,False
3,11917,Major: World Series,"Comedy, Drama, Sports",OVA,2,8.50,13405,False

In [29]:
# Merge dataframes (like SQL left join)
rating.merge(anime, left_on='anime_id', right_on='anime_id', suffixes=('_left', '_right')).tail(2)

,user_id,anime_id,rating_left,name,genre,type,episodes,rating_right,members
7813725,72404,34412,-1,Hashiri Hajimeta bakari no Kimi ni,Music,Music,1,6.76,239
7813726,72800,30738,4,Gamba: Gamba to Nakama-tachi,"Adventure, Kids",Movie,1,5.55,185

## Filtering

In [19]:
# Get rows given column value condition
anime[anime.type.isin(['TV', 'Movie'])].tail(2)

,anime_id,name,genre,type,episodes,rating,members,train set
12258,20007,Hi Gekiga Ukiyoe Senya Ichiya,"Action, Hentai",Movie,1,1.92,129,False
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,False

In [20]:
# Filter by value
anime[anime['rating'] > 8].tail(2)

,anime_id,name,genre,type,episodes,rating,members,train set
10847,26097,Yume no Tsuzuki,"Drama, Kids",OVA,1,8.67,53,False
12251,33960,Chou Do M na Hentai Mesu-tachi Otokoton Chouky...,Hentai,OVA,Unknown,8.38,161,False

## Sorting

In [21]:
# Sort data frame by values
anime.sort_values('rating', ascending=False).head(2)

,anime_id,name,genre,type,episodes,rating,members,train set
10464,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.0,13,False
10400,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,Unknown,9.6,47,False

## Aggregating

In [57]:
# Groupby and count
anime.groupby('type').count()

         anime_id  name  genre  episodes  rating  members
type
Movie        2348  2348   2306      2348    2297     2348
Music         488   488    488       488     488      488
ONA           659   659    655       659     652      659
OVA          3311  3311   3310      3311    3285     3311
Special      1676  1676   1674      1676    1671     1676
TV           3787  3787   3777      3787    3671     3787

In [63]:
# Groupby and aggregate columns in different ways
anime.groupby('type').agg({'rating': 'mean',
                           'episodes': 'count',
                           'name': 'last'}).reset_index()

,type,episodes,name,rating
0,Movie,2348,Yasuji no Pornorama: Yacchimae!!,6.318058
1,Music,488,Yuu no Mahou,5.588996
2,ONA,659,Docchi mo Maid,5.643298
3,OVA,3311,Violence Gekiga Shin David no Hoshi: Inma Dens...,6.375221
4,Special,1676,Junjou Shoujo Et Cetera Specials,6.523501
5,TV,3787,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,6.902299

In [24]:
# Create a pivot table
tmp_df = rating.copy()
tmp_df = tmp_df[tmp_df.user_id < 10] 
tmp_df = tmp_df[tmp_df.anime_id < 30]
pivot = pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'],
                       aggfunc=['mean', 'sum'])
pivot

         mean                                sum
anime_id   6    15   17   18   20   22   24   6    15   17   18   20   22   24
user_id
1         NaN  NaN  NaN  NaN -1.0  NaN -1.0  NaN  NaN  NaN  NaN -1.0  NaN -1.0
3         NaN  NaN  NaN  NaN  8.0  NaN  NaN  NaN  NaN  NaN  NaN  8.0  NaN  NaN
4        -1.0  NaN  NaN  NaN  NaN  NaN  NaN -1.0  NaN  NaN  NaN  NaN  NaN  NaN
5         8.0  6.0  6.0  6.0  6.0  5.0  1.0  8.0  6.0  6.0  6.0  6.0  5.0  1.0
6         NaN  NaN  NaN  NaN -1.0  NaN  NaN  NaN  NaN  NaN  NaN -1.0  NaN  NaN
7         NaN  NaN  NaN  NaN  NaN  7.0  NaN  NaN  NaN  NaN  NaN  NaN  7.0  NaN

## Cleaning

In [13]:
# Set NaN cells to some value
pivot.fillna(0)

          sum                               mean
anime_id   6    15   17   18   20   22   24   6    15   17   18   20   22   24
user_id
1         0.0  0.0  0.0  0.0 -1.0  0.0 -1.0  0.0  0.0  0.0  0.0 -1.0  0.0 -1.0
3         0.0  0.0  0.0  0.0  8.0  0.0  0.0  0.0  0.0  0.0  0.0  8.0  0.0  0.0
4        -1.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0  0.0  0.0  0.0  0.0  0.0  0.0
5         8.0  6.0  6.0  6.0  6.0  5.0  1.0  8.0  6.0  6.0  6.0  6.0  5.0  1.0
6         0.0  0.0  0.0  0.0 -1.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0  0.0  0.0
7         0.0  0.0  0.0  0.0  0.0  7.0  0.0  0.0  0.0  0.0  0.0  0.0  7.0  0.0